<div
  id="result-modal"
  class="fixed inset-0 z-50 hidden  items-center justify-center bg-black/50 backdrop-blur-sm"
>
  <div
    class="w-[90%] max-w-md rounded-2xl bg-white p-8 text-center shadow-2xl"
  >

    <!-- Icon -->
    <div
      id="modal-icon"
      class="mx-auto mb-5 flex h-16 w-16 items-center justify-center rounded-full"
    >
    </div>


    <!-- Title -->
    <h2
      id="modal-title"
      class="mb-3 text-xl font-bold text-slate-800"
    >
    </h2>


    <!-- Message -->
    <p
      id="modal-message"
      class="mb-6 text-md text-slate-500"
    >
    </p>


    <!-- Button -->
    <button
      id="modal-close"
      class="block w-full h-full rounded-lg bg-blue-500 py-3 font-medium text-white transition hover:bg-indigo-600"
    >
      Continue
    </button>

  </div>
</div>